* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --bg-dark: #050505;
    --neon-blue: #00bfff;
    --neon-green: #00ff99;
    --card-bg: #0f172a;
}

.login-body {
    background: var(--bg-dark);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: var(--card-bg);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,191,255,0.4);
    width: 300px;
}

.login-card h2 {
    color: var(--neon-blue);
}

.login-card p {
    color: #aaa;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    background: black;
    border: 1px solid var(--neon-blue);
    color: white;
    border-radius: 5px;
}

.neon-btn {
    padding: 10px 25px;
    border: none;
    position: relative;
    z-index: 10;
    border-radius: 30px;
    background: linear-gradient(135deg, var(--neon-blue), var(--neon-green));
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    color: white;

}

.neon-btn:hover {
    box-shadow: 0 0 15px var(--neon-green);
}

body {
    margin: 0;
    background: var(--bg-dark);
    color: white;
}

.dashboard-header {
    padding: 20px;
    background: black;
    border-bottom: 1px solid var(--neon-blue);
    display: flex;
    justify-content: space-between;
}

.kpi-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 25px;
    padding: 30px;
}

.kpi-card {
    background: var(--card-bg);
    padding: 20px; 
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,255,153,0.15);
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.attendance {
    background: conic-gradient(var(--neon-green) 90%, #222 0);
}

.leaves {
    background: conic-gradient(var(--neon-blue) 30%, #222 0);
}

.performance {
    background: conic-gradient(#00ffaa 85%, #222 0);
}

.compliance {
    background: conic-gradient(#00ff99 100%, #222 0);
}

.circle span {
    background: black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
    padding: 30px;
    position: relative;

}

.policy-card {
    background: var(--card-bg);
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0,191,255,0.2);
    position: relative;
}

.policy-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 25px rgba(0,255,153,0.6);
}

.modal {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; 

}

.modal:target {
    display: flex;
}

.modal-content {
    background-color: #111;
    padding: 25px;
    width: 400px;
    text-align: center;
    border: 2px solid #00bfff;
}

footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid var(--neon-blue);
    margin-top: 20px;
}
/* 
@media (max-width: 600px) {
    .dashboard-header {
        flex-direction: column;
        text-align: center;
    }
} */
